langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

sentence-transformers
faiss-cpu
chromadb
duckdb

pandas
python-dotenv
ipykernel
beautifulsoup4
streamlit

wikipedia
arxiv
pypdf
pymupdf
